includes:
    - %rootDir%/../../saschaegerer/phpstan-typo3/extension.neon
    - %rootDir%/../../phpstan/phpstan-strict-rules/rules.neon
    - %rootDir%/../../phpstan/phpstan-deprecation-rules/rules.neon
    - %rootDir%/../../spaze/phpstan-disallowed-calls/extension.neon
    - %rootDir%/../../tomasvotruba/type-coverage/config/extension.neon
    - %rootDir%/../../tomasvotruba/cognitive-complexity/config/extension.neon
    - %rootDir%/../../rector/type-perfect/config/extension.neon
    - extension.neon
